CSS 
body { 
background-color: gray; 
color: black; 
font-family: Helvetica; 
font-size: 14px; 
} 
.reverse { 
background-color: black !important; 
color: white; 
} 
p { 
padding: 20px; 
}
 .header 
 background-color:
 color:

 <a href=""

 ,img scr 
